$white: #fafafa;
$gery: #dadada;

body {
  background: $white;
  padding: 20px;
}

button {
  padding: 20px;
  font: 16px Arial;
  font-size: responsive;
  border: 0;
  border-radius: 10px;
  transition: all 500ms;

  &:hover {
    background: $gery;
  }
}
